*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Young Serif', serif;
}
.container{
    padding:50px;
}

.section1{
    background-color: black;
    color:white;
    padding: 20px;
}

.section1__contact{
    background-color: tomato;
    color:white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px; 
    padding-right: 10px;
    display:inline-block;
    margin-top: 10px;
}

.section1__name{
    font-size: 60px;
}
.section1__role{
    font-size:30px ;
    margin-top:10px; 
}

.section2,.section3,.section4,.section5{
    margin-top: 20px;
}

.section2__des,.section3__des,.section4__des,.section5__des{
    margin-top: 10px;
}

.section5{
    background-color: black;
    color:azure;
    padding:20px;
}

.section5__title a{
    color:aqua;
}

.section3 li,.section4 li{
     list-style-type: none;
}

.section3{
    background-color: #6462fd;
    color:black;
    padding:20px;
    display: inline-block;
    height:200px ;
    border-radius: 10px;
    vertical-align: top;
}

.section4{
    background-color: #FE7517;
    color:black;
    padding:20px;
    display: inline-block;
    height:200px ;
    border-radius: 10px;
    vertical-align: top;
}

.contactform{
    margin-top: 20px;

}

.contactform__input,.contactform__textarea,.contactform__submit{
    margin-top: 10px;

}

.contactform__input{
    padding:10px;
    border:none;
    border-bottom: solid black 1px;

}

.contactform__textarea{
    padding:10px;
    border:none;
    border: solid black 1px;
    
}

.contactform__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orangered;
    color:black;
    border:none;
}